<!DOCTYPE html>
<html>
  <head>
    <title>Challenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'movies-app-bundle' %>
  </head>

  <body>
    <div class="container">
      <%= render "shared/nav_bar" %>
      <% unless signed_in? %>
        <pre>
          <code>
            admin: test@admin.com
            password: testadmin
          </code>
        </pre>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
